- cache [@presentation, @presentation.presenters, @presentation.attachments.collect(&:attachment)] do
  - cache [@presentation, @presentation.presenters] do
    = render(Primer::HeadingComponent.new(mb: [1, nil, 2, nil])) { @presentation.title }
    %ul.text-secondary-dark.list-style-none.d-flex.flex-column.flex-sm-row.flex-wrap
      %li.mr-sm-3.mb-1
        = render Primer::OcticonComponent.new(@presentation.presenters.many? ? 'people' : 'person')
        = render Primer::TextComponent.new(tag: :address, display: :inline) do
          = @presentation.presenters.collect(&:full_name_and_institution).to_sentence
      %li.mr-sm-3.mb-1
        = render Primer::OcticonComponent.new('clock')
        = time_tag @presentation.start_datetime, format: :short
      %li.mb-1
        = render Primer::OcticonComponent.new('location')
        = render Primer::TextComponent.new(tag: :address, display: :inline) do
          = t :'.room_and_institution', room: @presentation.session.room_name, institution: @presentation.room.institution.name

  = render partial: 'attachments', object: @presentation.attachments
  = render partial: 'abstract', object: @presentation.abstract
