= render Primer::FlexComponent.new(direction: [:column_reverse, nil, :row, nil]) do
  = render Primer::FlexItemComponent.new(flex_auto: true, mb: [4, nil, 0, nil]) do
    %filter-input{ aria: { owns: 'conference_list' } }
      - if @conferences.any?
        .subnav.subnav-flush
          .subnav-search.float-left.ml-0
            = search_field_tag 'search', nil, class: %w[form-control subnav-search-input], aria: { label: t(:'.search') }
            = render Primer::OcticonComponent.new('search', classes: 'subnav-search-icon')
  = render Primer::FlexItemComponent.new(mb: [4, nil, 0, nil]) do
    = render Primer::ButtonComponent.new(tag: :a, href: frontend_conferences_url(protocol: :webcal, format: :ics), button_type: :primary,
                                         ml: [0, nil, 6, nil]) do
      = render Primer::OcticonComponent.new('calendar')
      = t(:'.subscribe')

%div{ id: 'conference_list' }
  - if @conferences.any?
    %ul{ data: { filter: { list: true } } }
      = render partial: 'conference', collection: @conferences, layout: 'list_item',
               cached: -> conference { [conference, conference.institutions, conference.institutions.collect(&:logo)] }
  - else
    = render Primer::BlankslateComponent.new(title: t(:'.no_conferences'), icon: 'mortar-board')
  = render Primer::BlankslateComponent.new(title: t(:'.no_matching_conferences'), icon: 'mortar-board', hidden: true,
                                           data: { 'filter-empty-state': true })
