- cache current_page do
  = render(Primer::HeadingComponent.new) { current_page.title }

  - if content(:text).present?
    = render(Primer::MarkdownComponent.new(mt: 4)) { content.html(:text) }

  - if content(:events_list).present?
    = render Primer::SubheadComponent.new(mt: 4) do |component|
      = component.heading do
        - if content(:current_section_title).present?
          = content(:current_section_title)
        - else
          = t :'.upcoming'

    - content(:events_list).filter do |event| 
      - (event.content(:start_date).blank? || event.content(:start_date) >= Date.today) && event.content(:is_archived) != Spina::Parts::Conferences::PrimerTheme::Checkbox::CHECKED_VALUE
    - end.then do |events|
      - if events.any?
        %ul
          - repeater(events) do |event|
            = render 'conferences_primer_theme/partials/event', event: event
      - else
        = render Primer::BlankslateComponent.new(title: t(:'.no_events'), icon: 'calendar')


    = render Primer::SubheadComponent.new(mt: 4) do |component|
      = component.heading do
        - if content(:past_section_title).present?
          = content(:past_section_title)
        - else
          = t :'.past'

    - content(:events_list).filter do |event|
      - (event.has_content?(:is_archived) && event.content(:is_archived) == Spina::Parts::Conferences::PrimerTheme::Checkbox::CHECKED_VALUE) || (event.content(:start_date).present? && event.content(:start_date) < Date.today)
    - end.then do |events|
      - if events.any?
        %ul
          - repeater(events) do |event|
            = render 'conferences_primer_theme/partials/event', event: event
      - else
        = render Primer::BlankslateComponent.new(title: t(:'.no_events'), icon: 'calendar')
  - else
    = render Primer::BlankslateComponent.new(title: t(:'.no_events'), icon: 'calendar')
