- content_for :hero do
  - cache [current_page, current_conference] do
    = render Primer::BoxComponent.new(position: :relative, style: 'height: 639px') do
      = render Primer::BoxComponent.new(position: :absolute, top: false, left: false, right: false, bottom: false,
                                        style: 'background-color: #057fab; z-index: 0')
      - if content(:carousel).present?
        .height-full.d-flex.flex-column.flex-justify-between{data: { controller: :slideshow, slideshow_incrementer: 0, slideshow_advance: true, slideshow_delay: 20000} }
          - content(:carousel).each_with_index do |carousel_item, index|
            = render partial: 'conferences_primer_theme/partials/homepage_item', locals: { item: carousel_item }
          - if content(:carousel).many?
            .container-lg.height-full.d-flex.flex-column-reverse.mb-8
              = render(Primer::ButtonGroupComponent.new) do |component|
                = component.button(data: { action: :'slideshow#previous' }) do
                  = render Primer::OcticonComponent.new('arrow-left')
                = component.button(data: { action: :'slideshow#next' }) do
                  = render Primer::OcticonComponent.new('arrow-right')
