= render Primer::FlexComponent.new(direction: [:column, nil, :row_reverse, nil], align_items: :center) do
  = render Primer::FlexComponent.new(direction: [:column, :row, nil, nil], mb: [4, nil, 0, nil], flex: :auto) do
    %ul.list-style-none.flex-auto.mb-2.mb-sm-0.mr-sm-2
      - footer_navigation_items.each do |item|
        - cache item do
          %li
            = render Primer::ButtonComponent.new(tag: :a, href: item.materialized_path, variant: :small) { item.menu_title }
    = render 'footer_content'
    - if current_account.has_content? :github_url
      = render Primer::ButtonComponent.new(tag: :a, href: current_account.content(:github_url), button_type: :outline, variant: :small,
                                           display: :inline_block) do
        = render Primer::OcticonComponent.new(icon: 'mark-github')
        = t :'.find_on_github'
  = render(Primer::TextComponent.new(tag: :small, color: :gray, mr: [nil, 2, nil, nil], font_size: 6, flex_grow: 0)) do
    = t :'.copyright', name: Spina::Account.first.name, year: Date.today.year
