= render Primer::FlexComponent.new(direction: [:column, nil, :row_reverse, nil]) do
  %ul.list-style-none.d-flex.flex-wrap.flex-md-justify-end.pl-md-2.pb-2.pb-md-0
    = render partial: 'institution', collection: conference.institutions, cached: -> institution { [institution, institution.logo] }
  = render Primer::FlexItemComponent.new(flex_auto: true) do
    = render(Primer::HeadingComponent.new(tag: :h3, mb: 1)) { link_to conference.name, frontend_conference_path(conference) }
    %ul.text-gray.list-style-none.d-flex.flex-column.flex-sm-row.flex-wrap
      %li.mr-sm-3
        = render Primer::OcticonComponent.new(icon: 'calendar')
        = t :'.dates_html', start_date: time_tag(conference.start_date, format: :date), finish_date: time_tag(conference.finish_date)
      - if conference.institutions.any?
        %li
          = render Primer::OcticonComponent.new(icon: 'location')
          = render Primer::BaseComponent.new(tag: :address, display: :inline) do
            = t :'.locations', institutions: conference.institutions.pluck(:name).to_sentence,
                               cities: conference.institutions.pluck(:city).uniq.to_sentence
