- cache [events, @tab] do
  = render Primer::BaseComponent.new(tag: :div, my: 4) do
    - if events.any?
      %filter-input{ aria: { owns: 'event_list' } }
        .subnav.subnav-flush
          .subnav-search.float-left.ml-0
            = search_field_tag 'search', nil, class: %w[form-control subnav-search-input], aria: { label: t(:'.search') }
            = octicon 'search', class: 'subnav-search-icon'
    %div{ id: 'event_list' }
      - if events.any?
        %ul{ data: { filter: { list: true } } }
          = render partial: 'event', collection: events.sorted, layout: 'list_item', cached: true
      - else
        = render Primer::BlankslateComponent.new(title: t(:'.no_events'), icon: 'calendar')
      = render Primer::BlankslateComponent.new(title: t(:'.no_matching_events'), icon: 'calendar', hidden: true,
                                               data: { 'filter-empty-state': true })
