- cache [@conference, @conference.institutions] do
  .container-lg.p-responsive.mb-4
    = render(Primer::HeadingComponent.new( mb: [1, nil, 2, nil])) { @conference.name }
    %ul.text-secondary.list-style-none.d-flex.flex-column.flex-sm-row.flex-wrap
      %li.mr-sm-3.mb-1
        = render Primer::OcticonComponent.new('calendar')
        = t :'.dates_html', start_date: time_tag(@conference.start_date, format: :date), finish_date: time_tag(@conference.finish_date)
      - if @conference.institutions.any?
        - cache @conference.institutions do
          %li.mb-1
            = render Primer::OcticonComponent.new('location')
            = render Primer::BaseComponent.new(tag: :address, display: :inline) do
              = t :'.locations', institutions: @conference.institutions.pluck(:name).to_sentence,
                                 cities: @conference.institutions.pluck(:city).uniq.to_sentence
    - if @conference.institutions.any?
      %ul.list-style-none.d-flex.flex-wrap.mt-4
        = render partial: 'institution', collection: @conference.institutions,
                 cached: -> institution { [institution, institution.logo] }
    - if @conference.content(:sponsors).present?
      = render Primer::SubheadComponent.new(spacious: true) do |component|
        = component.heading(tag: :h2) { t :'.sponsors.title' }
      = render Primer::FlexComponent.new(flex_wrap: true, ml: -2, mr: -2, mt: -2, mb: -2) do
        - repeater @conference.content(:sponsors) do |sponsor|
          = render Primer::FlexItemComponent.new(m: 2, vertical_align: :middle) do
            - if sponsor.content(:logo).present?
              = link_to sponsor.content(:website) do
                = sponsor.content.image_tag(:logo, { resize_to_limit: [200, 60] }, draggable: false,
                                            srcset: srcset(sponsor.content(:logo), variant: { resize_to_limit: [200, 60] }))
            - else
              = render(Primer::LinkComponent.new(href: sponsor.content(:website) || '')) { sponsor.content(:name) }

  - if @conference.content(:gallery).present?
    .mb-4.position-relative{ data: { controller: :slideshow, slideshow: { incrementer: 0, advance: true } } }
      - @conference.content(:gallery).each_with_index do |image, index|
        = @conference.content.image_tag(image, { resize_to_fill: [1680, 600] }, draggable: false, data: { 'slideshow-target': 'slide' },
                                        srcset: srcset(image, variant: { resize_to_fill: [1680, 600] }), hidden: index != 0,
                                        class: %w[d-block mx-auto])
      .position-absolute.top-0.left-0.right-0.bottom-0.container-lg.p-responsive
        - if @conference.content(:gallery).many?
          .d-none.d-sm-flex.flex-justify-between.flex-items-center.height-full
            = render Primer::ButtonComponent.new(data: { action: :'slideshow#previous' }) do
              = render Primer::OcticonComponent.new('arrow-left')
              = t(:'.gallery.previous')
            = render Primer::ButtonComponent.new(data: { action: :'slideshow#next' }) do
              = t(:'.gallery.next')
              = render Primer::OcticonComponent.new('arrow-right')
