- cache [presentation, presentation.presenters] do
  .d-flex.flex-column.flex-sm-row
    .flex-shrink-0.mr-sm-3.mb-3.mb-sm-0.col-sm-3
      %span.f3-light.mb-1
        = octicon 'clock', class: 'v-align-baseline'
        = time_tag presentation.start_datetime, format: :short
      .text-gray
        = octicon 'location'
        %address.d-inline= presentation.session.room_name
    .flex-auto
      %h3.mb-1= link_to presentation.title, frontend_conference_presentation_path(conference, presentation)
      .text-gray
        = octicon presentation.presenters.many? ? 'people' : 'person'
        %address.d-inline= presentation.presenters.collect(&:full_name_and_institution).to_sentence
