= render Primer::FlexComponent.new(direction: [:column, nil, :row, nil]) do
  = render Primer::BaseComponent.new(tag: :div, flex_shrink: 0, mr: [nil, nil, 3, nil], mb: [3, nil, 0, nil], col: [nil, nil, 3, nil]) do
    = render Primer::TextComponent.new(tag: :div, font_size: 3, font_weight: :light, mb: 1) do
      = render Primer::OcticonComponent.new('clock', vertical_align: :baseline)
      = time_tag presentation.start_datetime, format: :short
    = render Primer::TextComponent.new(tag: :div, color: :text_secondary) do
      = render Primer::OcticonComponent.new('location')
      = render(Primer::BaseComponent.new(tag: :address, display: :inline)) { presentation.session.room_name }
  = render Primer::BaseComponent.new(tag: :div, flex: :auto) do
    = render Primer::HeadingComponent.new(tag: :h3, mb: 1) do
      = render(Primer::LinkComponent.new(href: frontend_conference_presentation_path(conference, presentation), data: { turbo_frame: '_top' })) { presentation.title }
    = render Primer::TextComponent.new(tag: :div, color: :text_secondary) do
      = render Primer::OcticonComponent.new(presentation.presenters.many? ? 'people' : 'person')
      = render Primer::BaseComponent.new(tag: :address, display: :inline) do
        = presentation.presenters.collect(&:full_name_and_institution).to_sentence
