- if @conference.has_content?(:submission_date) && @conference.content(:submission_date) >= Date.today
  - content_for :flash do
    - cache partable_for(:submission_url, :submission_date, :submission_text, parent: @conference) do
      = render Primer::FlashComponent.new(variant: :warning, full: true) do
        - cache partable_for(:submission_url, parent: @conference) do
          - if @conference.content(:submission_url).present?
            = link_to t(:'.submit_abstract'), @conference.content(:submission_url),
                      class: %i[btn btn-primary flash-action]
        - cache partable_for(:submission_date, parent: @conference) do
          %p
            = octicon('clock')
            = t :'.submit_by_html', date: time_tag(@conference.content(:submission_date), format: :full)
        - cache partable_for(:submission_text, parent: @conference) do
          - if @conference.content(:submission_text).present?
            %p= @conference.content(:submission_text).html_safe

- content_for :header do
  - cache [@conference, @conference.institutions, @conference.parts.collect(&:partable), @conference.content(:gallery)&.images,
           @conference.content(:sponsors)&.structure_items,
           @conference.content(:sponsors)&.structure_items&.collect_concat(&:structure_parts)&.collect(&:structure_partable)] do
    .container-lg.p-responsive.mb-4{ class: dom_class(@conference), id: dom_id(@conference) }
      %h1.mb-1.mb-md-2= @conference.name
      %ul.text-gray-dark.list-style-none.d-flex.flex-column.flex-sm-row.flex-wrap
        %li.mr-sm-3.mb-1
          = octicon 'calendar'
          = t :'.dates_html', start_date: time_tag(@conference.start_date, format: :date), finish_date: time_tag(@conference.finish_date)
        - if @conference.institutions.any?
          - cache @conference.institutions do
            %li.mb-1
              = octicon 'location'
              %address.d-inline= t :'.locations', institutions: @conference.institutions.pluck(:name).to_sentence,
                                                  cities: @conference.institutions.pluck(:city).uniq.to_sentence
      - if @conference.institutions.any?
        %ul.list-style-none.d-flex.flex-wrap.mt-4{ class: dom_class(@conference.institutions) }
          = render partial: 'institution', collection: @conference.institutions,
                   cached: -> institution { [institution, institution.logo] }
      - cache [partable_for(:sponsors, parent: @conference), @conference.content(:sponsors)&.structure_items,
               @conference.content(:sponsors)&.structure_items&.collect_concat(&:structure_parts)&.collect(&:structure_partable)] do
        - if @conference.has_content?(:sponsors) && @conference.content(:sponsors).structure_items.any?
          = render partial: 'sponsors', object: @conference.content(:sponsors)
    - cache [partable_for(:gallery, parent: @conference), @conference.content(:gallery)&.images] do
      - if @conference.has_content? :gallery
        .mb-4= render partial: 'image_collection', object: @conference.content(:gallery), locals: { controls: true }

  %tab-container
    %nav.UnderlineNav
      .container-lg.p-responsive.d-flex.flex-justify-between.flex-auto
        .UnderlineNav-body{ role: 'tablist' }
          = button_tag t(:'.tabs.information'), aria: { selected: (@tab == 'information').to_s }, class: 'UnderlineNav-item', role: 'tab',
                                                type: 'button'
          = button_tag t(:'.tabs.presentations'), aria: { selected: (@tab == 'presentations').to_s }, class: 'UnderlineNav-item',
                                                  role: 'tab', type: 'button'
          = button_tag t(:'.tabs.events'), aria: { selected: (@tab == 'events').to_s }, class: 'UnderlineNav-item', role: 'tab',
                                           type: 'button'
        .UnderlineNav-actions
          = render Primer::ButtonComponent.new(tag: :a, href: frontend_conference_url(@conference, protocol: :webcal, format: :ics),
                                                            button_type: :primary, variant: :small) do
            = render Primer::OcticonComponent.new(icon: 'calendar')
            = t(:'.subscribe')
    .container-lg.p-responsive
      - cache [partable_for(:text, parent: @conference), @tab] do
        = render partial: 'information', layout: 'tab',
                 locals: { text: (@conference.content(:text) if @conference.has_content? :text), hidden: @tab != 'information' }
      - cache [@conference.presentations, @presentation_type, @presentation_type.presentations,
               @presentation_type.presentations.collect(&:presenters), @tab] do
        = render partial: 'presentations', layout: 'tab', locals: { hidden: @tab != 'presentations' }
      - cache [@conference.events, @tab] do
        = render partial: 'events', layout: 'tab', locals: { events: @conference.events, hidden: @tab != 'events' }
