- if @conference.has_content?(:submission_date) && @conference.content(:submission_date) >= Date.today
  - content_for(:flash) { render 'submission_flash' }

- content_for(:header) { render 'header' }

  %tab-container
    %nav.UnderlineNav
      .container-lg.p-responsive.d-flex.flex-justify-between.flex-auto
        .UnderlineNav-body{ role: 'tablist' }
          = button_tag t(:'.tabs.information'), aria: { selected: (@tab == 'information').to_s }, class: 'UnderlineNav-item', role: 'tab',
                                                type: 'button'
          = button_tag t(:'.tabs.presentations'), aria: { selected: (@tab == 'presentations').to_s }, class: 'UnderlineNav-item',
                                                  role: 'tab', type: 'button'
          = button_tag t(:'.tabs.events'), aria: { selected: (@tab == 'events').to_s }, class: 'UnderlineNav-item', role: 'tab',
                                           type: 'button'
        .UnderlineNav-actions
          = render Primer::ButtonComponent.new(tag: :a, href: frontend_conference_url(@conference, protocol: :webcal, format: :ics),
                                                            button_type: :primary, variant: :small) do
            = render Primer::OcticonComponent.new(icon: 'calendar')
            = t(:'.subscribe')
    .container-lg.p-responsive
      - cache [partable_for(:text, parent: @conference), @tab] do
        = render partial: 'information', layout: 'tab',
                 locals: { text: (@conference.content(:text) if @conference.has_content? :text), hidden: @tab != 'information' }
      - cache [@conference.presentations, @presentation_type, @presentation_type.presentations,
               @presentation_type.presentations.collect(&:presenters), @tab] do
        = render partial: 'presentations', layout: 'tab', locals: { hidden: @tab != 'presentations' }
      - cache [@conference.events, @tab] do
        = render partial: 'events', layout: 'tab', locals: { events: @conference.events, hidden: @tab != 'events' }
