- cache [committee_bio, committee_bio.structure_parts.collect(&:structure_partable)] do
  = render Primer::FlexComponent.new(direction: [:column, nil, :row, nil], align_items: :start) do
    - cache partable_for(:profile_picture, parent: committee_bio) do
      - if committee_bio.has_content?(:profile_picture) && committee_bio.content(:profile_picture).persisted? && committee_bio.content(:profile_picture).file.present?
        = render Primer::AvatarComponent.new(src: main_app.url_for(committee_bio.content(:profile_picture).file.variant(resize_to_fill: [150, 150])),
                                             srcset: srcset_string(committee_bio.content(:profile_picture).file,
                                                                   variant: { resize_to_limit: [150, 150] }),
                                             draggable: false, alt: committee_bio.content(:name), size: 150, mr: [nil, nil, 3, nil],
                                             mb: [3, nil, 0, nil], flex_shrink: 0)
    = render Primer::FlexItemComponent.new(flex_auto: true) do
      = render Primer::FlexComponent.new(direction: [:column, nil, :row, nil], mb: 1) do
        - cache partable_for(:name, :role, :institution, parent: committee_bio) do
          = render Primer::BoxComponent.new do
            - if committee_bio.has_content?(:name)
              = render(Primer::HeadingComponent.new(tag: :h3)) do
                - if committee_bio.has_content?(:role)
                  = t :'.name_and_role', name: committee_bio.content(:name), role: committee_bio.content(:role)
                - else
                  = committee_bio.content(:name)
            - if committee_bio.has_content?(:institution)
              = render(Primer::HeadingComponent.new(tag: :h4)) { committee_bio.content(:institution) }
        = render Primer::ButtonGroupComponent.new(mt: [1, nil, 0, nil], ml: [nil, nil, 1, nil],
                                                  aria: { label: t(:'.contact_buttons') }) do |component|
          - cache partable_for(:twitter_profile, parent: committee_bio) do
            - if committee_bio.has_content?(:twitter_profile)
              = component.button(tag: :a, href: committee_bio.content(:twitter_profile)) do
                = render Primer::OcticonComponent.new(icon: 'link-external')
                = t(:'.twitter')
          - cache partable_for(:facebook_profile, parent: committee_bio) do
            - if committee_bio.has_content?(:facebook_profile)
              = component.button(tag: :a, href: committee_bio.content(:facebook_profile)) do
                = render Primer::OcticonComponent.new(icon: 'link-external')
                = t(:'.facebook')
      - cache partable_for(:bio, parent: committee_bio) do
        - if committee_bio.has_content?(:bio)
          = render(Primer::TextComponent.new(tag: :div, color: :gray_light)) { committee_bio.content(:bio).try(:html_safe) }
