- cache [document, document.structure_parts.collect(&:structure_partable)] do
  %li.list-style-none.py-1.d-flex.flex-items-center
    - cache partable_for(:name, parent: document) do
      = render Primer::TextComponent.new(tag: :div, flex: :auto) do
        = document.has_content?(:name) ? document.content(:name) :  :'.no_name'
    - cache partable_for(:attachment, parent: document) do
      - if document.has_content?(:attachment) && document.content(:attachment).persisted?
        = render Primer::ButtonComponent.new(tag: :a, ml: 2,
                                             href: main_app.rails_blob_path(document.content(:attachment), disposition: :attachment)) do
          = render Primer::OcticonComponent.new(icon: 'desktop-download')
          = t(:'.download')
      - else
        = render(Primer::TextComponent.new(tag: :div, font_size: 6, color: :gray)) { t :'.no_file' }
