%div{ class: dom_class(events_list), id: dom_id(events_list) }
  = render Primer::SubheadComponent.new(mt: 4) do |component|
    = component.heading { t :'.upcoming' }
  - events_list.structure_items.sorted_by_structure.filter { |item| item.has_content?(:start_time) && item.content(:start_time) >= Time.now }.then do |events|
    - if events.any?
      %ul
        = render partial: 'event', layout: 'list_item', cached: ->(event) { [event, event.structure_parts.collect(&:structure_partable)] },
                 collection: events
    - else
      = render Primer::BlankslateComponent.new(title: t(:'.no_events'), icon: 'calendar')
  = render Primer::SubheadComponent.new(mt: 4) do |component|
    = component.heading { t :'.past' }
  - events_list.structure_items.sorted_by_structure.filter { |item| item.has_content?(:start_time) && item.content(:start_time) < Time.now }.then do |events|
    - if events.any?
      %ul
        = render partial: 'event', layout: 'list_item', cached: ->(event) { [event, event.structure_parts.collect(&:structure_partable)] },
                 collection: events
    - else
      = render Primer::BlankslateComponent.new(title: t(:'.no_events'), icon: 'calendar')
