- if events_list.structure_items.any?
  %div{ class: dom_class(events_list), id: dom_id(events_list) }
    = render Primer::SubheadComponent.new(mt: 4) do |component|
      = component.slot(:heading) { t :'.upcoming' }
        %ul
      = render partial: 'event', 
               collection: events_list.structure_items.sorted_by_structure.filter { |item| item.has_content?(:start_time) && item.content(:start_time) >= Time.now }, 
               layout: 'list_item',
               cached: ->(event) { [event, event.structure_parts.collect(&:structure_partable)] }
    = render Primer::SubheadComponent.new(mt: 4) do |component|
      = component.slot(:heading) { t :'.past' }
        %ul
      = render partial: 'event', 
               collection: events_list.structure_items.sorted_by_structure.filter { |item| item.has_content?(:start_time) && item.content(:start_time) < Time.now }, 
               layout: 'list_item',
               cached: ->(event) { [event, event.structure_parts.collect(&:structure_partable)] }
      - else
  = render Primer::BlankSlateComponent.new(title: t(:'.no_events'), icon: 'file')
