- cache [event, event.structure_parts.collect(&:structure_partable)] do
  = render Primer::FlexComponent.new(direction: :column, align_items: :start) do
    - cache partable_for(:name, parent: event) do
      - if event.has_content?(:name)
        = render(Primer::HeadingComponent.new(tag: :h3, flex: :auto)) { event.content(:name) }
    - cache partable_for(:location, :start_time, parent: event) do
      = render Primer::HeadingComponent.new(tag: :h4, flex: :auto) do
        = t(:'.time_and_place',
            time: event.has_content?(:start_time) ? time_tag(event.content(:start_time), format: :ordinal_datetime_with_year) : t('.time_tbc'),
            place: event.has_content?(:location) ? event.content(:location) : t('.location_tbc'))
    - cache partable_for(:description, parent: event) do
      - if event.has_content?(:description)
        = render(Primer::TextComponent.new(mt: 1, color: :gray_light)) { event.content(:description).try(:html_safe) }
    - cache partable_for(:url, parent: event) do
      - if event.has_content?(:url)
        = render Primer::ButtonComponent.new(tag: :a, href: event.content(:url), mt: 2) do
          = render Primer::OcticonComponent.new(icon: 'link-external')
          = t :'.more_info'
