= render Primer::BoxComponent.new(py: [3, nil, nil, 6]) do
  .text-shadow-dark
    - if latest_conference.present? && latest_conference.finish_date >= Date.today
      = render(Primer::HeadingComponent.new(tag: :h1, classes: 'h000-mktg lh-condensed-ultra')) { conference.name }
      = render(Primer::TextComponent.new(tag: :address, classes: 'f2-light')) { conference.institutions.collect(&:name).to_sentence }
      = render(Primer::TextComponent.new(tag: :time, classes: 'f2-light')) do
        = t :'.dates_html', start_date: time_tag(conference.start_date, format: :day_and_month),
                            finish_date: time_tag(conference.finish_date, format: :day_and_month)
    - else
      = render(Primer::HeadingComponent.new(tag: :h1, classes: 'h000-mktg lh-condensed-ultra')) { Spina::Account.first.name }
  - if latest_conference.present? && latest_conference.finish_date >= Date.today
    = link_to t('.more_info'), frontend_conference_path(conference), class: %w[btn-mktg btn-large-mktg btn-primary-mktg f3 mt-4]
  .text-shadow-dark
    = render(Primer::MarkdownComponent.new(my: 4)) { content(:text).try(:html_safe) }
