.d-flex.flex-column.flex-md-row-reverse.flex-items-start
  .flex-auto
    %h3.d-flex.flex-wrap.mb-1
      - cache partable_for(:name, parent: partner_society) do
        - if partner_society.has_content? :name
          .flex-auto= partner_society.content(:name)
      .BtnGroup.mt-1.mt-sm-0{ aria: { label: t(:'.contact_buttons') } }
        - cache partable_for(:website, parent: partner_society) do
          - if partner_society.has_content? :website
            = render Primer::ButtonComponent.new(tag: :a, href: partner_society.content(:website), group_item: true) do
              = render Primer::OcticonComponent.new(icon: 'browser')
              = t(:'.website')
        - cache partable_for(:email_address, parent: partner_society) do
          - if partner_society.has_content? :email_address
            = render Primer::ButtonComponent.new(tag: :a, href: "mailto:#{partner_society.content(:email_address)}", group_item: true) do
              = render Primer::OcticonComponent.new(icon: 'mail')
              = t(:'.email')
    - cache partable_for(:description, parent: partner_society) do
      - if partner_society.has_content? :description
        .text-gray= render partial: 'text', object: partner_society.content(:description)
  - cache partable_for(:logo, parent: partner_society) do
    - if partner_society.has_content?(:logo) && partner_society.content(:logo).persisted?
      = image_tag(main_app.url_for(partner_society.content(:logo).file.variant(resize_to_limit: [200, 150])),
                  srcset: srcset(partner_society.content(:logo).file, variant: { resize_to_limit: [200, 150] }), size: nil,
                  alt_description: partner_society.content(:name), draggable: false, class: %w[mt-4 mt-md-0 mr-md-4])
