= render(Primer::FlexComponent.new(direction: [:column, nil, :row, nil])) do
  = render(Primer::FlexItemComponent.new(flex_auto: true)) do
    = render(Primer::HeadingComponent.new(tag: :h3, mb: 1)) do
      = link_to article.title, frontend_issue_article_path(article.issue, article)
    = render(Primer::TextComponent.new(tag: :div, color: :text_secondary)) do
      = render(Primer::OcticonComponent.new(article.affiliations.many? ? 'people' : 'person'))
      = render(Primer::BaseComponent.new(tag: :address, display: :inline)) do
        = article.affiliations.collect(&:name).to_sentence
    - unless article.doi.blank?
      = render(Primer::TextComponent.new(tag: :div, color: :text_secondary)) do
        = link_to article.doi
    - if article.has_content?(:attachment)
      = render(Primer::ButtonComponent.new(tag: :a, href: main_app.url_for(article.content(:attachment)), mt: 2, download: '')) do
        = render Primer::OcticonComponent.new('download')
        = t '.download'
